.current-panel {
	display: grid;
	gap: 8px;
	place-content: center;
	justify-items: center;
	padding: 28px;
}

.current-panel .temperature-wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
}

.current-weather-icon {
	width: 150px;
}

.current-panel .temperature {
	font-family: "Poppins-ExtraBold";
	font-size: clamp(3rem, 5vw, 4rem);
}

.current-panel .city {
	font-size: 1.2rem;
	font-family: "Poppins-Medium";
}

.current-panel .conditions {
	font-family: "Poppins-Light";
}

.current-panel .date {
	font-family: "Poppins-Bold";
	font-size: 1.5rem;
}

.temperature-values {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: stretch;
}

.temperature-minmax {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.temperature-min,
.temperature-max {
	display: flex;
	opacity: 0.4;
}

.temperature-minmax h3 {
	font-family: "Poppins-Light";
}

.temperature-min img,
.temperature-max img {
	width: 16px;
}

@media (max-width: 800px) {
	.current-panel .temperature-wrapper {
		flex-direction: column;
		gap: 0px;
	}

	.current-panel {
		gap: 16px;
	}
}
