form.search-bar {
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
}

form.search-bar .location-input {
	background: var(--panel-clr);
	color: var(--font-clr);
	border: none;
	font-size: 1rem;
	padding: 12px;
	font-weight: 200;
	width: min(800px, 100%);
	border-radius: 8px;
}

form.search-bar .search-btn {
	background-color: var(--primary-clr);
	font-size: 1rem;
	color: var(--inverted-font-clr);
	padding-inline: 40px;
	border-radius: 8px;
	border: none;
}

.location-input {
	outline: none;
	font-family: "Poppins-Light";
}
